@import '~@nativescript/theme/css/core.css';
@import '~@nativescript/theme/css/default.css';

.button {
    background-color: #6494AA;
    color: #ffffff;
    padding: 8;
    margin: 4 8;
    font-size: 13;
    border-radius: 4;
}